h5 {
  padding: 0.5em;
}

p {
  margin: 0;
}

form {
  padding: 0.5em;
  width: 80%;
  margin: auto;
}

.row {
  height: 2em;
}

.player-data {
  border-left: black solid 1px;
  border-bottom: black solid 1px;
}

.data-field {
  background-color: blue;
  color: aliceblue;
  max-width: 35%;
  border-top: black solid 1px;
  border-right: black solid 1px;
}

.data-value {
  max-width: 100%;
  border-top: black solid 1px;
  border-right: black solid 1px;
}

.form-control {
  margin-bottom: 1em;
}

#submit-button {
  width: 50% !important;
}

.action-menu {
  padding: 0;
}

.back {
  height: max-content;
  width: 50%;
  display: inline-block;
  padding-right: 0.5em;
}

.edit {
  height: max-content;
  width: 50%;
  display: inline-block;
  padding-left: 0.5em;
}

.action-button {
  width: 100%;
}