.menu {
  width: 50vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  height: max-content;
  width: 33%;
  display: inline-block;
  padding: 0.5em;
}

.button-links {
  width: 100% !important;
}